*,
:after,
:before {
	box-sizing: border-box
}

:root {
	--color-bg: #f2f2f2;
	--color-text: #222222;
	--color-inline-code-bg: #dee2e6;
	--color-secondary: #089ce7;
	--text-width: 70ch;
	--size-base: 18px;
	--font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-size: var(--size-base);
	font-family: var(--font-face);
	line-height: 1.6;
}

main {
	margin: auto;
	max-width: var(--text-width);
	padding: 0.8rem;
}

a {
	color: currentColor;
	text-decoration-color: var(--color-secondary);
	-webkit-text-decoration-color: var(--color-secondary);
	text-decoration: underline;
	text-decoration-thickness: 0.15em;
	-webkit-text-decoration-thickness: 0.15em;
	text-underline-offset: 0.15em;
	-webkit-text-underline-offset: 0.15em;
}

blockquote {
	border-left-color: var(--color-secondary);
	border-left-width: 0.25em;
	border-left-style: solid;
	margin-left: 0em;
	margin-right: 0em;
	padding-left: 0.5em;
}

pre {
	overflow: scroll;
	padding: 1rem;
}

td {
	border: 1px solid var(--color-text);
	padding: 10px;
}

img {
	height: auto;
	max-width: 100%;
}

.homepage-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin-top: 0em;
}

// .homepage-list li {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: flex-start;
// 	align-items: flex-start;
// }

.homepage-list a {
	text-decoration-thickness: 0.05em;
	-webkit-text-decoration-thickness: 0.05em;
}

.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination__onlynext {
	justify-content: flex-end;
}

.post {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 0;
}

.post__title {
	margin: 0;
	line-height: 1.2em;
	justify-content: flex-start;
}

.post__date {
	display: block;
	margin-top: 0;
	margin-bottom: 0.5em;
	font-style: italic;
}

.post__description {
	margin-top: 0;
	margin-bottom: 2em;
}

@media (max-width: var(--text-width)) {
	.homepage-list a {
		width: 100%;
	}
}

// Monospace fonts tend to be bigger than other fonts, make them smaller
// so it doesn't disrupt the visual flow
code {
	font-size: 90%;
}

// Inline code snippets
code:not(pre > code) {
	padding: .15em .25em;
	color: var(--color-text);
	background-color: var(--color-inline-code-bg);
	border-radius: 3px;
}